body {
  margin: 0;
  font-family: $font-main;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
}

a {
  text-decoration: none;

  img {
    border-style: none;
  }
}

.site-container {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.page-content {
  position: relative;
  margin-bottom: 100px;

  .blog-article-page & {
    margin-bottom: 240px;
  }

}

// Independent elements that can be located everywhere in the DOM and always have the same styling rules.
.loader {
  @extend %stretch;
  position: fixed;
  z-index: 10;

  &:not(.hidden) {
    .loader-cube {
      @include transition(opacity 0.5s ease-in 1.5s);
    }
  }

  &.hidden {
    top: auto;
  }
}

.loader-cube {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-top: -52px;
  margin-left: -26px;
  @include bg($black, 0.5);
  @include animation(cubemove 1.8s infinite ease-in-out);

  .hidden & {
    opacity: 0;
  }
}

.loader-cube-2 {
  @include animation-delay(-0.9s);
}

@include keyframes(cubemove) {
  25% {
    @include transform(
      translateX(42px) rotate(-90deg) scale(0.5)
      );
  }

  50% {
    @include transform(
      translateX(42px) translateY(42px) rotate(-180deg)
      );
  }

  75% {
    @include transform(
      translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
      );
  }

  100% {
    @include transform(
      rotate(-360deg)
      );
  }
}

.vg-bg-picker-btn {
  @extend %button;
  position: absolute;
}

.background-image,
.background-color {
  position: absolute;
  @extend %stretch;
}

.background-image {
  z-index: -2;
  background-position: center;
  background-size: cover;
}
.background-color {
  z-index: -1;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  line-height: 1.3em;
  font-style: normal;
  font-size: 24px;
  @include bg($black, 1);

  &:before {
    content: '\A';
  }

  &:hover {
    @include bg($black, .8);
  }

  a {
    text-decoration: none;
  }
}

// Main container that affects the entire site's other elements.
.container {
  @extend %clearfix;
  min-height: 100%;

  .editmode & {
    @include calc(min-height, '100% - 40px');
  }

  .search-open & {
    position: static;
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.wrap {
  @extend %clearfix;
  margin: 0 auto;

  .front-page & {
    @extend %wide-wrap;
  }
}

.dark-background {
  @include color($white, 1);

  h1, h2, h3, h4, p, pre {
    @include color($white, 1);
  }

  .site-footer & {
    @include color($white, .7);

    a, b {
      @include color($white, 1);
    }
  }
  .header-title a {
    @include color($white, 1);
  }
  .menu li a {
    @include color($white, .7);

    &:hover {
      @include color($white, 1);
    }
  }
  .menu li.is-active a {
    @include color($white, 1);
  }
  .lang-title {
    @include color($white, 1);
  }
  .lang-menu {
    &.lang-menu-bilingual {
      .lang-title a {
        @include color($white, .7);
      }
      .lang-title a.is-active {
        @include color($white, 1);
      }
    }
  }

  .voog-reference svg path {
    @include fill($white, 1);
  }
  .site-options .search-btn svg path {
    @include fill($white, 1);
  }

}

.light-background {
  @include color($black, 1);

  & h1, h2, h3, h4, p {
    @include color($black, 1);
  }
  .site-header & {
    a {
      @include color($black, 1);
    }
    .header-title a {
      @include color($black, 1);
    }
    .menu li a {
      @include color($black, .7);

      &:hover {
        @include color($black, 1);
      }
    }
    .menu li.is-active a {
      @include color($black, 1);
    }
  }

  .site-footer & {
    @include color($black-light, 1);
  }
  .lang-title {
    @include color($black, 1);
  }

  .lang-menu-bilingual {
    .lang-title a.is-active {
      @include color($black, 1);
    }
  }
}

.custom-btn {
  display: inline-block;
  @include bg($black, .0);
  box-sizing: border-box;
  width: 180px;
  padding: 11px 10px;
  text-transform: uppercase;
  font-size: $base-font-size;
  line-height: $line-height-xs;
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
  @include hyphenate(true);

  &:hover {
    @include bg($black-light, 1);

    .light-background & {
      border: 2px solid $white;
      @include color($white, 1);

      a {
        @include color($white, 1);
      }
    }
  }

  .dark-background & {
    border: 2px solid $white;
    @include color($white, 1);

    a {
      @include color($white, 1);
    }
  }
  .light-background & {
    border: 2px solid $black;
    @include color($black, 1);

    a {
      @include color($black, 1);
    }
  }
}

.article-author {
  display: inline-block;
}

.inner {
  width: 80%;
  margin: 40px auto;
  min-height: 100px;

  .blog-article-page & {
    margin: 30px auto;
  }
}

.main-inner-row {
  overflow: hidden;
}
