html {
  font-size: $font-size-base;

  @include query($tablet-2) {
    font-size: $font-size-small;
  }
}

body {
  margin: 0;
  font-family: $font-main;
  @include rem-fallback(font-size, $font-size-normal);
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  img {
    border-style: none;
  }
}

.site-container {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.page-content {
  display: block;
  position: relative;
  margin-bottom: $margin-general;
  max-width: 100vw;

  .blog-article-page & {
    margin-bottom: 240px;

    @include query($mobile-1) {
      margin-bottom: 335px;
    }

  }

  .blog-article-page.comments-open & {
    @include query($mobile-1) {
      margin-bottom: 0!important;
    }
  }

}

// Independent elements that can be located everywhere in the DOM and always have the same styling rules.
.loader {
  @extend %stretch;
  position: fixed;
  z-index: 10;

  &:not(.hidden) {
    .loader-cube {
      @include transition(opacity 0.5s ease-in 1.5s);
    }
  }

  &.hidden {
    top: auto;
  }
}

.loader-cube {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-top: -52px;
  margin-left: -26px;
  @include bg($black, 0.5);
  @include animation(cubemove 1.8s infinite ease-in-out);

  .hidden & {
    opacity: 0;
  }
}

.loader-cube-2 {
  @include animation-delay(-0.9s);
}

@include keyframes(cubemove) {
  25% {
    @include transform(
      translateX(42px) rotate(-90deg) scale(0.5)
      );
  }

  50% {
    @include transform(
      translateX(42px) translateY(42px) rotate(-180deg)
      );
  }

  75% {
    @include transform(
      translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
      );
  }

  100% {
    @include transform(
      rotate(-360deg)
      );
  }
}

.stretch {
  @extend %stretch;
}

.background-image,
.background-color {
  position: absolute;
  @extend %stretch;
}

.background-image {
  z-index: -2;
  background-position: center;
  background-size: cover;
}
.background-color {
  z-index: -1;
}

.wrap {
  @extend %clearfix;
  margin: 0 auto;
  @extend %wide-wrap;

  .front-page &,
  .common-page & {
    @extend %wide-wrap;
  }

  .blog-article-page & {
    @extend %medium-wrap;
  }
}

.inner {
  margin: 0 auto;
  padding: $margin-half $margin-medium;

  .common-page .top-row & {
    padding: $margin-half $margin-medium $margin-low;
  }

  .common-page .sidebar-active .top-row & {
    @include query($tablet-2) {
      padding: 0 $margin-medium $margin-low;
    }
  }

  .common-page .bottom-row & {
    padding: 0 $margin-medium $margin-half;
  }

  @include query($tablet-2) {
    padding: $margin-medium $margin-low;
  }
}

.main-inner-row {
  overflow: hidden;
}

.dark-background {
  @include color($white, 1);

  h1, h2, h3, h4, p, pre {
    @include color($white, 1);
  }

  .site-footer & {
    @include color($white, .7);

    a, b {
      @include color($white, 1);
    }
  }
  .header-title a {
    @include color($white, 1);
  }
  .menu li a {
    @include color($white, .7);

    &:hover {
      @include color($white, 1);
    }
  }
  .menu li.is-active a {
    @include color($white, 1);
  }
  .lang-title {
    @include color($white, 1);
  }
  .lang-menu {
    &.lang-menu-bilingual {
      .lang-title a {
        @include color($white, .7);

        &:hover {
          @include color($white, 1);
        }
      }
      .lang-title a.is-active {
        @include color($white, 1);
      }
    }
  }

  .voog-reference svg path {
    @include fill($white, 1);
  }
  .site-options .search-btn svg path {
    @include fill($white, 1);
  }

}

.light-background {
  @include color($black, 1);

  & h1, h2, h3, h4, p {
    @include color($black, 1);
  }
  .site-header & {
    a {
      @include color($black, 1);
    }
    .header-title a {
      @include color($black, 1);
    }
    .menu li a {
      @include color($black, .7);

      &:hover {
        @include color($black, 1);
      }
    }
    .menu li.is-active a {
      @include color($black, 1);
    }
  }

  .site-footer & {
    @include color($black-light, 1);
  }
  .lang-title {
    @include color($black, 1);
  }

  .lang-menu-bilingual {
    .lang-title a {
      &:hover {
        @include color($black, 1);
      }
    }

    .lang-title a.is-active {
      @include color($black, 1);
    }
  }
}
