// CMS DEFAULT STYLES OVERRIDES
.dark-background {
  .edy-empty-bordered {
    color: rgba($white, .5);
    border-color: rgba($white, .5);
  }
  .placeholder {
    color: rgba($white, .5);
  }
  .edy-content-element-hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgba($white, .2);
  }
  .edy-texteditor-active {
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba($white, .4);

    &:hover {
      outline-color: rgba($white, .63);
    }
  }
  .edy-texteditor-active table td.wysiwyg-tmp-selected-cell,
  .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
    outline: 1px solid rgba(255, 255, 255, 0.6);
  }

  .edy-taglist {
    border-color: rgba($white, .33);
  }

  .edy-tag-input {
    color: rgba($white, 1);
  }

  .edy-taglist-openarrow {
    &:after {
      border-color: rgba($white, 1) transparent transparent;
    }
  }

  .edy-tag-suggestions {

    .edy-tag-suggestion {
      color: rgba($black-base, .75);
    }
  }
}

.edy-content-element > .form {
  margin: $margin-low 0;
}
