// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  --headings-title-text-alignment: left;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --headings-title-font-size: 32px;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --headings-title-line-height: 1.4;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "500",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  --headings-title-font-weight: 300;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --headings-title-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --headings-title-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.title"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --headings-title-text-transform: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  --headings-heading-text-alignment: left;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --headings-heading-font-size: 26px;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --headings-heading-line-height: 1.4;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "500",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  --headings-heading-font-weight: 300;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --headings-heading-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --headings-heading-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.heading"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --headings-heading-text-transform: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  --headings-subheading-text-alignment: left;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --headings-subheading-font-size: 24px;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --headings-subheading-line-height: 1.4;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "500",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  --headings-subheading-font-weight: 300;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --headings-subheading-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --headings-subheading-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.headings", "custom_styles.subheading"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --headings-subheading-text-transform: none;

  // scss-lint:enable Comment, Indentation
}
