// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import "../../stylesheets/modules/variables";

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  #{--content-body-alignment}: left;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  #{--content-body-font-size}: 18px;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  #{--content-body-line-height}: 1.7;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "hyphens",
    "editor": "listPicker",
    "list": {{ base_hyphens_toggle_set }},
    "scope": "global"
  */
  #{--content-body-hyphens}: auto;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-weight"
    ]
  */
  #{--content-link-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--content-link-hover-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-style"
    ]
  */
  #{--content-link-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--content-link-hover-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-text-decoration"
    ]
  */
  #{--content-link-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--content-link-hover-text-decoration}: underline;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-text-transform"
    ]
  */
  #{--content-link-text-transform}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--content-link-hover-text-transform}: none;

  // scss-lint:enable Comment, Indentation
}
