.article-comments {
  position: absolute;
  z-index: 1;
  background-color: white;
  right: -420px;
  top: 0;
  width: 300px;
  padding: 45px 30px;
  box-shadow: -10px 19px 30px rgba(68, 68, 68, 0.31);
  transition: 250ms;

  .comments-body {
    max-height: 100%;
    overflow-y: scroll;
  }

  .comments-title {
    font-size: 24px;
    line-height: 40px;
    text-transform: none;
    color: #111111;
    margin: 30px 0 0;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    font-family: Roboto;
    cursor: pointer;
  }

  .comment {
    margin: 20px 0 0;

    .comment-body {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #4a4a4a;
    }

    .comment-author,
    .comment-date {
      font-size: 14px;
      line-height: 26px;
      color: #a4a3a3;
      font-weight: 400;
    }
  }
  .comments-close {
    /* Close button, with pure CSS cross */
    .btn-close {
      position: absolute;
      top: 0px;
      left: -55px;
      width: 55px;
      height: 55px;
      background-color: #000;
      cursor: pointer;

      .xcross {
        z-index: 2000;
          width: 2px;
          height: 25px;
          background-color: #eee;
          margin-top: 15px;
      }
    }

    .btn-close .xcross-l {
      margin-left: 29px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .btn-close .xcross-r {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
.article-comments.active {
    top: 0;
    right: 0;
    transition: 250ms;
  }

.blog-article-page {
  .comments-open-btn.open {
    display: none
  }
  .comments-close-btn {
    display: none;
  }
  .comments-close-btn.open {
    display: inline-block;
  }
}
