.blog-article-page {

  .article-excerpt {
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    margin: 30px 0;
    @include color($black, 1);
  }
  .article-body {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
  }
  .comments-title {
    font-size: 14px;
    line-height: 27px;
    @include color($black-light, 1);
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    cursor: pointer;

    span {
      @include color($black-light, 1);
    }
  }

  .comments-open-btn.open,
  .comments-close-btn {
    display: none
  }
  .comments-close-btn.open {
    display: inline-block;
  }

}
