.blog-tags {
  margin-bottom: 20px;
  color: rgba($black-base, .71);

  .dark-background & {
    color: rgba($white, .71);
  }

  .blog-article & {
    margin-bottom: 15px;
  }

  .tags-toggle {
    @extend %button;
    color: inherit;
  }

  .tags-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    fill: rgba($black-base, .71);
    vertical-align: middle;

    .dark-background & {
      fill: rgba($white, .71);
    }
  }

  .tags-bottom {
    display: none;
    margin-top: 15px;

    &.visible {
      display: block;
    }
  }

  .tags-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: top;
    text-transform: uppercase;
  }

  .ico-arrow {
    @include transform(rotate(90deg));
    display: inline-block;
    margin-left: 10px;
    fill: rgba($black-base, .71);
    vertical-align: middle;

    &.active {
      @include transform(rotate(-90deg));
    }
  }

  .menu {
    display: inline-block;
    padding-left: 0;

    .menu-item {
      display: inline-block;
      margin-top: 5px;
      vertical-align: top;

      &:before {
        display: none;
      }
    }

    .menu-link {
      padding: 1px 5px;
      font-size: 12px;
      color: rgba(#a4a4a4, 1);
      text-decoration: none;
      border-radius: 3px;
      background-color: rgba($black-base, .03);

      &:hover {
        opacity: .7;
      }

      &.active {
        color: rgba($white, 1);
        background-color: rgba(#a4a4a4, 1);
      }

      .dark-background & {
        background-color: rgba($white, .2);
      }
    }
  }
}
