.article-comments {
  position: absolute;
  z-index: 1;
  @include bg($white, 1);
  right: -420px;
  top: 0;
  width: 300px;
  padding: 45px 30px;
  box-shadow: -10px 19px 30px rgba(68, 68, 68, 0.31);
  transition: 250ms;

  @include query($mobile-1) {
    right: -100vw;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: none;
  }

  &.active {
    top: 0;
    right: 0;
    transition: 250ms;
    box-shadow: -10px 19px 30px rgba(68, 68, 68, 0.31);
  }

  .comments-body {
    max-height: 100%;
    overflow-y: scroll;

    .comments-title {
      font-size: $font-size-large;
      font-weight: $font-weight-light;
      line-height: $line-height-medium;
      @include color($black, 1);
      margin: 0 0 $margin-low 0;
      text-transform: none;
      cursor: text;

      .voog-site-blog-comments-count {
        @include color($black-lighter, 1);
      }
    }
  }

  .comment {
    @include color($black-light, 1);
    margin: 20px 0 0;
    font-weight: 400;

    .comment-body {
      display: block;
      font-size: 16px;
      line-height: 24px;
    }

    .comment-author,
    .comment-date {
      @include color($grey, 1);
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      line-height: $line-height-double;
    }
  }
  .comments-close {

    .btn-close {
      position: absolute;
      top: 0px;
      left: -55px;
      width: 55px;
      height: 55px;
      @include bg($black, 1);
      cursor: pointer;

      @include query($tablet-2) {
        left: auto;
        right: 0;
        @include bg($white, 1);
      }

      .xcross {
        z-index: 2000;
        width: 2px;
        height: 25px;
        margin-top: 15px;
        @include bg($white, 1);

        @include query($tablet-2) {
          @include bg($black, 1);
        }

      }
      .xcross-l {
        margin-left: 29px;
        @include rotate(45deg);
      }
      .xcross-r {
        @include rotate(90deg);
      }
    }

  }
}
