// =============================================================================
// CONTENT ITEM BOXES
// =============================================================================
.content-item-boxes {
  margin-top: -15px;
  font-size: 0;
  line-height: 1.3;

  @media screen and (min-width: $nano + 1) and (max-width: $tablet-3) {
    margin-right: -10px;
    margin-left: -10px;
  }

  @media screen and (min-width: $tablet-3 + 1) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.content-item-box {
  color: rgba($black, .8);

  .item-list-page & {
    box-sizing: border-box;

    @media screen and (max-width: $nano) {
      display: block;
    }

    @media screen and (min-width: $nano + 1) {
      display: inline-block;
      vertical-align: top;
    }

    @media screen and (min-width: $nano + 1) and (max-width: $tablet-3) {
      width: 50%;
      padding: 10px 10px 5px 10px;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      width: 33.3%;
      min-width: 195px;
      padding: 15px 2%;
    }

  }

  .content-illustrations & {
    margin-bottom: 40px;
  }

  .top-inner {
    opacity: 1;

    &::after {
      .editmode &,
      .item-list-page & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: $white;
        content: '';
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }

  &:hover {
    .top-inner {
      // scss-lint:disable NestingDepth
      &::after {
        .editmode &,
        .item-list-page & {
          opacity: .2;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.content-items {
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (max-width: $tablet-3) {
    margin-top: 30px;
  }

  @media screen and (min-width: $tablet-3 + 1) {
    margin-top: 100px;
  }
}

.content-item {
  margin-bottom: 15px;
}

.item-top {
  @include aspect-ratio(1, 1);

  &:hover {
    .btn,
    .edy-img-drop-area-remove-image {
      opacity: 1;
    }
  }

  .btn {
    padding: 0;
    background-color: rgba($science-blue, .3);
    border: 0;
    opacity: 0;
    transition: background-color .5s, opacity .5s;

    &:hover {
      background-color: rgba($science-blue, 1);
    }
  }

  .bg-crop-btn {
    @include size(45px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 100%;
    color: rgba($white, 1);

    &.is-visible {
      display: block;
    }

    &.is-hidden,
    .without-image & {
      display: none;
    }
  }

  .edy-img-drop-area-remove-image {
    @include size(45px);
    top: 10px;
    right: 10px;
    z-index: 9;
    color: rgba($white, 1);
    background-color: rgba($science-blue, .3);
    border: 0;
    opacity: 0;
    transition: background-color .5s, opacity .5s;

    &:hover {
      background-color: rgba($science-blue, 1);
    }
  }

  .edy-img-drop-area-remove-image-ico {
    margin-top: -10px;
    margin-left: -8px;
  }

  .top-inner {
    @include hyphenate;
    // scss-lint:disable ImportantRule
    display: flex !important;
    // scss-lint:enable ImportantRule
    align-items: center;
    justify-content: center;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;

    .publicmode & {
      overflow: hidden;

      // scss-lint:disable SelectorDepth
      // scss-lint:disable NestingDepth
      .image-landscape {
        &.not-cropped {
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        &.is-cropped {
          width: auto;
          height: 100%;
        }
      }

      .image-portrait {
        &.not-cropped {
          width: auto;
          height: 100%;
          max-height: 100%;
        }

        &.is-cropped {
          width: 100%;
          height: auto;
        }
      }

      .image-square {
        width: 100%;
        height: auto;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .with-image & {
      background-color: rgba($black, .02);
    }

    .without-image & {
      border-color: rgba($black, .1);
      border-style: solid;
      border-width: 1px;
    }

    @media screen and (max-width: $nano) {
      font-size: 16px;
    }

    @media screen and (min-width: $nano + 1) {
      font-size: 13px;
    }

    @media screen and (min-width: $micro + 1) {
      font-size: 16px;
    }

    @media screen and (min-width: $tiny + 1) {
      font-size: 20px;
    }

    @media screen and (min-width: $tablet-1 + 1) {
      font-size: 30px;
    }
  }

  .image-drop-area {
    // scss-lint:disable ImportantRule
    background-position: center !important;
    // scss-lint:enable ImportantRule
    background-repeat: no-repeat;

    &.not-cropped {
      background-size: contain;
    }

    &:not(.active) {
      border-color: rgba($black, .4);
      border-style: dashed;
      border-width: 1px;

      &:hover {
        border-style: solid;
      }
    }

    .edy-img-drop-area-placeholder {
      @media screen and (max-width: $tablet-3) {
        font-size: 13px;
      }

      @media screen and (min-width: $tablet-3 + 1) {
        font-size: 18px;
      }
    }
  }
}

.item-image {
  border: 0;

  .publicmode & {
    &.is-cropped {
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      max-width: none;
      margin: auto;
    }
  }

  .item-list-page & {
    display: block;
  }
}


.item-placeholder {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}

.item-title {
  @include hyphenate;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: center;

  .item-link {
    color: inherit;

    .content-item-box & {
      display: block;
    }
  }

  .item-list-page & {
    font-weight: 400;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
      font-weight: 100;
    }
  }

  .content-item-box & {
    @media screen and (max-width: $tablet-3) {
      font-size: 13px;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      font-size: 18px;
    }
  }

  .content-item & {
    @media screen and (max-width: $tablet-3) {
      font-size: 18px;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      font-size: 30px;
    }
  }

  .blog-article-page & {
    @media screen and (max-width: $tablet-3) {
      font-size: 32px;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      font-size: 50px;
    }
  }

  .content-item-box > & {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.content-illustrations {
  @media screen and (min-width: $tablet-3 + 1) {
    flex: 1;
    max-width: 520px;
    margin-right: 40px;
  }
}

.content-body {
  .item-page & {
    @media screen and (max-width: $tablet-3) {
      padding-top: 40px;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      flex: 1;
    }
  }
}

.items-body {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-3 + 1) {
    display: flex;
  }
}
