/* NAVIGATION MENUS*/
// Base
.menu-btn-wrap {
  position: relative;
  top: 5px;
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;

  @media screen and (max-width: $tablet-1) {
    display: none;
  }
}

.toggle-sub-menu {
  @extend %button;
  position: absolute;
  top: 14px;
  right: -6px;
  display: block;
  margin-top: -6px;
  padding: 6px;

  .no-svg & {
    &:before {
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-width: 5px 0 5px 8px;
      border-style: solid;
      border-color: transparent transparent transparent $black-base;
    }
  }

  .svg & {
    fill: rgba($black-base, .2);
  }

  &.active {
    .no-svg & {
      &:before {
        border-width: 8px 5px 0;
        border-color: $black-base transparent transparent transparent;
      }
    }

    .svg & {
      @include transform(rotate(90deg));
      fill: rgba($black-base, 1);
    }
  }
}

.menu {
  @include hyphens(auto);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;

    &:last-child {
      margin-right: 0;
    }

    &.selected {
      font-weight: 400;
    }

    a {
      display: block;
      border-style: none;

      &.untranslated {
        color: rgba($red, .7);

        &:hover {
          color: rgba($red, 1);
        }
      }
    }
  }
}

// Main menu
.menu-main {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  li {
    display: inline-block;
    margin-left: $margin-low;
  }
}

// Sub menu
.menu-sub {
  li {
    margin-right: 10px;
  }
}

// Language menu
.menu-language {
  li {
    margin-right: 5px;
    a {
      font-size: 10px;
    }
  }
}

/* mobile-menu */
#mobile-menu {
  display: none;
}

.mobile-menu-toggler {
  @extend %button;
}

.mobile-menu-toggler,
.mobile-menu-toggler,
#mobile-search {
  display: none;

  .mobile-search-open & {
    display: block;
  }
}

@media screen and (max-width: $tablet-1) {
  .site-header {
    .header-right {
      .menu-main {
        display: none;
      }
    }
  }

  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;

    #mobile-menu .wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .mobile-menu-toggler {
    position: absolute;
    top: -14px;
    right: -12px;
    display: block;
    width: 45px;
    height: 44px;
    outline: 0;

    span {
      &,
      &:before,
      &:after {
        position: absolute;
        top: 14px;
        left: 12px;
        display: block;
        width: 21px;
        height: 2px;
        content: '';
        background-color: rgba($black, 1);

        .dark-background & {
          background-color: rgba($white, 1);
        }

        &.flags-disabled {
          .lang-menu-btn {
            position: static;
            width: auto;
            height: auto;
            background-color: rgba($red, 1);

            &:before,
            &:after {
              display: none;
            }

            .lang-title {
              position: static;
              color: rgba($white, 1);
            }
          }
        }
      }

      &:before {
        top: 7px;
        left: 0;
      }

      &:after {
        top: 14px;
        left: 0;
      }
    }
  }

  #mobile-menu {
    @include transition(transform .5s, width .3s);
    @include transform(translate3d(100%, 0, 0));
    font-family: $font-main;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    width: 250px;
    padding: 30px 20px 50px;
    background-color: rgba($white, 1);
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: $tablet-3) {
      padding-top: 10px;
    }

    .editmode & {
      bottom: 40px;
    }

    .mobilemenu-open & {
      @include transform(translate3d(0, 0, 0));
    }

    .mobile-search-open & {
      width: 100%;
    }

    .search-open-btn {
      @include transition(right .3s);
      position: absolute;
      top: 28px;
      right: 78px;
      width: $button-square;
      height: $button-square;
      margin-left: 0;

      &.no-back-btn {
        right: 108px;
      }

      &.search-active {
        display: none;
      }

      .mobile-search-open & {
        right: 0;
      }

      svg {
        fill: rgba($black-base, 1);
        .mobile-search-open & {
          fill: rgba($grey, 1);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        position: relative;
        margin: 0;

        &.edit-btn {
          padding: 10px 0;
        }
      }

      a {
        font-size: 16px;
        line-height: 1.3;
        padding: 10px 0;
        text-transform: uppercase;
        color: rgba($black-base, .62);
      }
    }

    .navigation-menu {
      word-break: break-all;

      .lang-menu-open &,
      .mobile-search-open & {
        display: none;
      }

      ul {
        a {
          display: block;

          &.visible {
            display: block;
          }

          &.selected {
            font-weight: 500;
            color: rgba($black-base, 1);
          }

          &.indented {
            margin-left: 10px;
          }

          &.edy-cbtn {
            display: none !important;
            &.visible {
              display: inline !important;
            }
          }
        }

        &.current-menu {
          > li:first-child {
            > a {
              text-transform: uppercase;
            }
          }
        }

        &.child-menu {
          li {
            a {
              &.edy-cbtn {
                display: inline !important;
              }
            }
          }
        }
      }

      .option-btn {
        padding: 15px 0;
        color: rgba($white, 1);
      }
    }

    .sub-menu {
      a  {
        text-transform: initial;
        color: rgba($black-base, 1);
      }
    }

    .menu-level-2,
    .menu-level-3 {
      display: none;
      padding-left: 10px;
    }

    .current-parent {
      > .menu-level-2, > .menu-level-3 {
        display: block;
      }
    }

    .lang-menu {
      display: block;
      margin-top: 20px;
      margin-left: 0;

      .mobile-search-open & {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          text-align: left;

          a {
            font-size: 14px;
            padding: 7px 0 5px;
            text-align: left;

            &.lang-flag {
              &:before,
              &:after {
                top: 8px;
                right: auto;
                left: 0;
              }
            }

            &.is-active {
              font-weight: 500;
              color: rgba($black-base, 1);
            }
          }
        }
      }
    }

    &.flags-enabled {
      .lang-menu {
        a {
          padding-left: 25px;
        }
      }
    }
  }
}

/* flags */
.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:after {
    background-position: -189px -60px;
  }
}

.lang-flag:before {
  background-color: rgba($black, 1);
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
  .no-boxshadow & {
    border: 1px solid $white;
  }
  .svg & {
    background-image: url('../assets/ico-flags.svg');
  }
  .no-svg {
    background-image: url('../images/ico-flags.png');
  }
}

// Language flag icons positioning in the spritemap.
$flags:
(sq, 0 0), // Albanian (Albania)
(hy, -21px 0), // Armenian (Armenia)
(bn, -42px 0), // Bengali (Bangladesh)
// (xx, -63px 0), // Brazilian Portuguese (Brazil)
(bg, -84px 0), // Bulgarian (Bulgaria)
(zh, -105px 0), // Chinese (China)
(hr, -126px 0), // Croatian (Croatia)
(da, -147px 0), // Danish (Denmark)
(cs, -168px 0), // Czech (Czech Republic)
(et, -189px 0), // Estonian (Estonia)

(fi, 0 -15px), // Finnish (Finland)
(fr, -21px -15px), // French (France)
(ka, -42px -15px), // Georgian (Georgia)
(de, -63px -15px), // German (Germany)
(el, -84px -15px), // Greek (Greece)
(hu, -105px -15px), // Hungarian (Hungary)
(is, -126px -15px), // Icelandic (Iceland)
(hi, -147px -15px), // Hindi (India)
(id, -168px -15px), // Indonesian (Indonesia)
(fa, -189px -15px), // Iranian (Iran)

(he, 0 -30px), // Hebrew (Israel)
(it, -21px -30px), // Italian (Italy)
(ja, -42px -30px), // Japanese (Japan)
(ko, -63px -30px), // Korean (Korea, South)
(lv, -84px -30px), // Latvian (Latvia)
(lt, -105px -30px), // Lithuanian (Lithuania)
(ms, -126px -30px), // Malaysian (Malaysia)
(nl, -147px -30px), // Dutch (Netherlands)
(no, -168px -30px), // Norwegian (Norway)
(ur, -189px -30px), // Urdu (Pakistan)

(fil, 0 -45px), // Filipino (Philippines)
(pl, -21px -45px), // Polish (Poland)
(ro, -42px -45px), // Romanian (Romania)
(ru, -63px -45px), // Russian (Russia)
(ar, -84px -45px), // Arabic (Saudi Arabia)
(sk, -105px -45px), // Slovakian (Slovakia)
(sl, -126px -45px), // Slovenian (Slovenia)
(es, -147px -45px), // Spanish (Spain)
(sv, -168px -45px), // Swedish (Sweden)
(tr, -189px -45px), // Turkish (Turkey)

(uk, 0 -60px), // Ukrainian (Ukraine)
(en, -21px -60px), // American English (United States of America)
// (xx, -42px -60px), // French (Ivory Coast)
(en-gb, -63px -60px), // British English (Great Britian)
(pt, -84px -60px), // Portuguese (Portuguese Republic)
// (xx, -105px, -60px), // Canadian English (Canada)
(sr, -126px, -60px), // Serbian (Republic of Serbia)
// (xx, -147px, -60px), // Dutch, French, German (Kingdom of Belgium)
// (xx, -168px, -60px), // Australian English (Commonwealth of Australia)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  background-color: rgba($black, .09);

  .menu {
    .menu-item {
      font-size: 13px;
      padding: 7px 12px;

      @media screen and (max-width: $tablet-1) {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: $tablet-3) {
    background-color: transparent;

    .menu {
      #mobile-menu & {
        display: block;
        padding: 0;
      }

      .menu-item {
        color: rgba($white, .5);
      }
    }
  }
}

.option-btn {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: rgba($blue, 1);
  border: none;
  background: none;

  &:hover {
    color: rgba($blue, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  @media screen and (max-width: $tablet-3) {
    color: rgba($white, 1);
    &:hover {
      color: rgba($white, .8);
    }
  }

  #mobile-menu & {
    font-size: 12px;
  }
}

/* langmenu */
.lang-menu {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;

  @media screen and (max-width: $tablet-1) {
    display: none;
  }

  &.lang-menu-bilingual {
    .lang-title {
      display: inline-block;

      a {
        &.is-active {
          font-weight: 400;
          color: rgba($black, 1);
        }
      }
    }
  }

  li {
    font-size: 14px;
    line-height: normal;
    display: block;
    text-align: right;
    text-transform: uppercase;

    a {
      font-weight: 400;
      color: rgba($black, .7);
    }

    &.add-lang-btn {
      padding: 10px;
    }
  }

  a {
    &.lang-flag {
      position: relative;
      display: block;
      padding: 6px 10px 5px 40px;
      padding: 5px 40px 5px 13px;
      text-align: right;

      .dark-background &,
      .light-background & {
        color: rgba($black, .7);

        &:hover {
          color: rgba($black, 1);
        }
      }

      &:before,
      &:after {
        top: 6px;
        left: 12px;
      }

      &:before,
      &:after {
        right: 12px;
        left: auto;
      }
    }

    &.edy-menu-langadd {
      padding: 5px;
    }
  }

  &.flags-disabled {
    a.lang-flag {
      padding: 5px;
    }

    .lang-title {
      &:last-child {
        a.lang-flag {
          padding-right: 0;
        }
      }
    }
  }
}

.lang-title {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;

  a {
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
  }
}

.lang-menu-btn {@extend %button;
  font-family: inherit;
  font-size: 12px;
  position: relative;
  display: block;
  height: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  .flags-enabled & {
    width: 21px;

    .lang-title {
      display: none;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }

  .ico-popover-toggle {
    font-size: 7.2px;

    .flags-enabled & {
      display: none;
    }
  }
}

.lang-menu-popover {
  line-height: 1;
  position: absolute;
  z-index: 1;
  display: none;
  padding: 5px 0;
  text-align: left;
  color: rgba($white, 1);
  box-shadow: 0, 0, 5px, rgba($black-base, .3);

  .no-boxshadow & {
    border: 1px solid $white;
  }

  .editmode & {
    padding-bottom: 0;
  }

  .lang-menu-open & {
    display: block;
  }

  a {
    &:hover {
      background-color: rgba($black, .1);
    }

    &.active {
      background-color: rgba($black, .2);
    }
  }
}
