/* NAVIGATION MENUS*/
// Base
.menu {
  @extend %hyphens-true;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    @include rem-fallback(font-size, $font-size-base);
    line-height: $line-height-medium;
    font-weight: $font-weight-light;
    @extend %inline-block;

    &:last-child {
      margin-right: 0;
    }

    &.selected {
      font-weight: $font-weight-normal;
    }

    a {
      display: block;
      border-style: none;

      &.untranslated {
        color: rgba($red, .7);

        &:hover {
          color: rgba($red, 1);
        }
      }
    }
  }
}

// Main menu
.menu-main {
  margin-right: $margin-low;
  // margin-bottom: $margin-low;
  text-transform: uppercase;

  li {
    margin-left: $margin-low;
    // margin-bottom: $margin-low - 10px;
  }
}

// Sub menu
.menu-sub {
  li {
    margin-right: 10px;
  }
}

// Language menu
.menu-language {
  @extend %inline-block;
  @extend %align-middle;

  li {
    margin-right: 5px;

    a {
      font-size: 10px;
    }
  }
}

/* mobile-menu */
.mobile-menu-toggler {
  @extend %button;
}

.mobile-menu-toggler,
#mobile-menu,
.mobile-menu-toggler,
#mobile-search {
  display: none;
  .mobile-search-open & {
    display: block;
  }
}

@include query($tablet-2) {
/* mobile-menu */
.site-header {
  .header-right {
    .menu-main {
      display: none;
    }
  }
}

.mobilemenu-open,
.mobilesearch-open {
  position: fixed;
  overflow: hidden;
  width: 100%;

  #mobile-menu .wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mobile-menu-toggler {
  position: absolute;
  top: -18px;
  right: -13px;
  display: block;
  width: $button-square;
  height: $button-square;
  outline: 0;

  @include query($tablet-3) {
    .mobilemenu-open & {
      visibility: hidden;
    }
  }

  span {
    &,
    &:before,
    &:after {
      position: absolute;
      top: 14px;
      left: 11px;
      display: block;
      width: 20px;
      height: 3px;
      content: '';
      @include border-radius(5px);
      @include bg($black, 1);

      .dark-background & {
        @include bg($white, 1);
      }

      &.flags-disabled {
        .lang-menu-btn {
          position: static;
          width: auto;
          height: auto;
          @include bg($red, 1);

          &:before,
          &:after {
            display: none;
          }

          .lang-title {
            display: inline-block;
            position: static;
            @include color($white, 1)
          }
        }
      }
    }

    &:before {
      top: 6px;
      left: 0;
    }

    &:after {
      top: 12px;
      left: 0;
    }
  }
}

#mobile-menu {
  display: block;
  font-family: $font-main;
  top: 0;
  right: -300px;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  @include bg($black-base, .9);
  // @include transition($transition);
  @include transition(opacity $transition);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  .language-menu-btn {
    position: absolute;
    top: -14px;
    left: -25px;
  }

  @include query($tablet-3) {
    position: absolute;
    right: 0;
    left: 0;
  }

  @include querymin($tablet-3) {
    position: fixed;
    visibility: visible;
    opacity: 1;
    left: auto;
    width: 300px;
    @include transition(right 0.3s);
  }

  .mobile-site-options {
    margin: $margin-low;
    margin-bottom: 0;
    position: relative;

    @include querymin($tablet-3) {
      margin-left: $margin-medium;
    }

    .search-btn {
      position: absolute;
      top: -13px;
      right: 35px;
      width: $button-square;
      height: $button-square;

      svg {
        @include fill($white, 1);

        .mobile-search-open & {
          @include fill($grey, 1);
        }
      }
    }
    .lang-title {
      font-size: $font-size-20;
      text-transform: uppercase;
      line-height: 42px;
    }
  }
  .mobilemenu-open & {
    right: 0;
    position: fixed;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    overflow: auto;
    box-shadow: -10px 19px 30px rgba(68,68,68,.31);
  }

  .mobile-menu-close {
    position: absolute;
    z-index: 9999;
    top: -13px;
    right: -13px;
    display: block;
    width: 42px;
    height: 42px;
    outline: 0;

    &:before,
    &:after {
      position: absolute;
      top: 19px;
      left: 12px;
      display: block;
      width: 20px;
      height: 3px;
      content: '';
      background: white;
      @include border-radius(3px);
    }

    &:before {
      @include rotate(45deg);
    }

    &:after {
      @include rotate(-45deg);
    }
  }

  .lang-menu-btn {
    position: absolute;
    top: 14px;
    left: 15px;
    display: block;
    width: 42px;
    height: 42px;
    outline: 0;

    .mobile-search-open & {
      display: none!important;
    }

    .lang-menu-btn {
      position: absolute;
      top: 14px;
      left: 11px;

      @include query($tablet-3) {
        position: static;
      }
    }
  }

  &.flags-enabled {
    .lang-menu-btn {
      .lang-title {
        display: none;
      }
    }
  }

  &.flags-disabled {
    .lang-menu-btn {
      top: -13px;
      left: 0;
      width: auto;
      height: auto;
      display: inline-block;
      @include color($white, 1);

      &:before,
      &:after {
        display: none;
      }

      .lang-menu-btn {
        position: static;
      }

      .lang-title {
        display: inline-block;
        position: static;
        @include color($white, 1);

        &:after {
          content: "▼";
          font-size: 7px;
          position: absolute;
          right: -13px;
          top: 2px;
        }
      }
    }
  }

  .lang-menu-open & {
    .lang-menu-btn {
      display: none;
    }
  }

  .navigation-menu,
  .lang-menu {
    display: table;
    width: 100%;
    height: calc(100% - 80px);
    word-break: break-all;
    margin: 0;

    .option-btn {
      @include color($white, 1);
      padding: 15px 0;
    }

    ul {
      display: table-cell;
      height: 100%;
      padding: 50px 30px;
      list-style-type: none;
      text-align: center;
      vertical-align: middle;

      li {
        display: block;
        margin: 0;
        padding: 15px 0;
        text-align: center;
      }

      a {
        @include rem-fallback(font-size, 24px);
        line-height: $line-height;
        @include color($white, .5);

        &.selected {
          @include color($white, 1);
        }
      }
    }
  }

  .navigation-menu {

    @include querymin($tablet-3) {
      ul {
        li {
          text-align: left;
          padding: $margin-base 0;
        }
      }
    }

    .lang-menu-open &,
    .mobile-search-open & {
      display: none;
    }

    .submenu {
      display: block;
      padding-bottom: 0;
      padding-top: $margin-low / 2;

      li {
        a {
          @include rem-fallback(font-size, $font-size-normal);
        }
      }
      .submenu-lvl2 {
        display: block;
        padding-bottom: 0;
        padding-top: $margin-low / 2;

        li {
          a {
            @include rem-fallback(font-size, $font-size-base);
          }
        }
      }
    }

    @include query($tablet-3) {
      .submenu,
      .submenu-lvl2 {
        visibility: hidden;
        height: 0;
        opacity: 0;
        @include transition(0);
      }
      .submenu.open,
      .submenu-lvl2.open {
        visibility: visible;
        height: auto;
        opacity: 1;
        @include transition($transition);
      }
    }

    @include querymin($tablet-3) {
      .submenu {
        padding: $margin-low 0 0 $margin-base;

        li {
          padding: 5px $margin-base;
        }

        .submenu-lvl2 {
          padding: $margin-low 0 0 $margin-base;

          li {
            padding: 0 $margin-base;
          }
        }
      }
    }
  }

  .lang-menu {
    display: none;

    .lang-menu-open & {
      display: table;
    }
  }

  .submenu-load-more {
    height: 20px;
    width: 30px;
    display: block;
    color: white;
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;

    @include querymin($tablet-3) {
      display: none!important;
    }

    &:after {
      content: "▼";
      font-size: 15px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0px;
    }
  }

  .submenu-load-more-lvl1,
  .submenu-load-more-lvl2 {

    &.open {
      display: none;
    }

  }

  .submenu-close-lvl1,
  .submenu-close-lvl2 {
    display: none;

    &:after {
      transform: rotate(180deg);
    }
    &.open {
      display: block;
    }
  }
}

.mobile-search-toggler {
  position: absolute;
  top: 0;
  right: 43px;
  display: block;
  width: 33px;
  height: 43px;
  outline: 0;
  background: url('../images/search.png') no-repeat center center;
  background-size: 16px 16px;

  .svg & {
    background-image: url('../assets/search.svg');
  }

  .mobilesearch-open & {
    background: none !important;

    &:before,
    &:after {
      position: absolute;
      top: 20px;
      left: 7px;
      display: block;
      width: 20px;
      height: 3px;
      content: '';
      background: $black; @include border-radius(3px);
    }

    &:before {
      @include rotate(45deg);
    }

    &:after {
      @include rotate(-45deg);
    }
  }
}

}

/* flags */
.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:after {
    background-position: -189px -60px;
  }
}

.lang-flag:before {
  @include bg($black);
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;

  .no-boxshadow & {
    border: 1px solid $white;
  }

  .svg & {
    background-image: url('../assets/ico-flags.svg');
  }

  .no-svg {
    background-image: url('../images/ico-flags.png');
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq, 0 0),
// Armenian (Armenia)
(hy, -21px 0),
// Bengali (Bangladesh)
(bn, -42px 0),
// Brazilian Portuguese (Brazil)
// (xx, -63px 0),
// Bulgarian (Bulgaria)
(bg, -84px 0),
// Chinese (China)
(zh, -105px 0),
// Croatian (Croatia)
(hr, -126px 0),
// Danish (Denmark)
(da, -147px 0),
// Czech (Czech Republic)
(cs, -168px 0),
// Estonian (Estonia)
(et, -189px 0),

// Finnish (Finland)
(fi, 0 -15px),
// French (France)
(fr, -21px -15px),
// Georgian (Georgia)
(ka, -42px -15px),
// German (Germany)
(de, -63px -15px),
// Greek (Greece)
(el, -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he, 0 -30px),
// Italian (Italy)
(it, -21px -30px),
// Japanese (Japan)
(ja, -42px -30px),
// Korean (Korea, South)
(ko, -63px -30px),
// Latvian (Latvia)
(lv, -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil, 0 -45px),
// Polish (Poland)
(pl, -21px -45px),
// Romanian (Romania)
(ro, -42px -45px),
// Russian (Russia)
(ru, -63px -45px),
// Arabic (Saudi Arabia)
(ar, -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk, 0 -60px),
// American English (United States of America)
(en, -21px -60px),
// French (Ivory Coast)
// (xx, -42px -60px),
// British English (Great Britian)
(en-gb, -63px -60px),
// Portuguese (Portuguese Republic)
(pt, -84px -60px),
// Canadian English (Canada)
// (xx, -105px, -60px),
// Serbian (Republic of Serbia)
(sr, -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
// (xx, -147px, -60px),
// Australian English (Commonwealth of Australia)
// (xx, -168px, -60px),
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  @include bg($black, 0.09);

  .menu {
    .menu-item {
      padding: 7px 12px;
      font-size: 13px;

      @include query($tablet-1) {
        text-align: right;
      }
    }
  }

  @include query($tablet-3) {
    background-color: transparent;

    .menu {
      #mobile-menu & {
        display: block;
        padding: 0;
      }

      .menu-item {
        @include color($white, .5);
      }
    }
  }
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  @include color($blue);

  &:hover {
    @include color($blue, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  @include query($tablet-3) {
    @include color($white);

    &:hover {
      @include color($white, .8);
    }
  }
}

/* langmenu */
.lang-menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;

  li {
    display: block;
    @include rem-fallback(font-size, $font-size-small);
    text-align: right;
    line-height: normal;
    text-transform: uppercase;

    a {
      @include color($black, .7);
      font-weight: $font-weight-normal;
    }

    &.add-lang-btn {
      padding: 10px;
    }
  }

  a {
    &.lang-flag {
      position: relative;
      display: block;
      padding: 6px 10px 5px 40px;

      .dark-background &,
      .light-background & {
        @include color($black, .7);

        &:hover {
          @include color($black, 1);
        }
      }
      &:before,
      &:after {
        top: 6px;
        left: 12px;
      }

      padding: 6px 40px 5px 13px;
      text-align: right;

      &:before,
      &:after {
        left: auto;
        right: 12px;
      }

    }

    &.edy-menu-langadd {
      display: inline-block;
      padding: 5px;
    }
  }

  &.flags-disabled {
    a.lang-flag {
      padding: 6px 5px 5px;
    }
  }

  .lang-title {
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    @include rem-fallback(font-size, $font-size-small);
    a {
      background-color: transparent;
      text-transform: uppercase;
      @include rem-fallback(font-size, $font-size-small);
    }
  }
}

.lang-menu-btn {
  margin: 0;
  padding: 0;  @extend %button;
  position: relative;
  display: block;
  height: 15px;
  font-family: inherit;
  @include rem-fallback(font-size, $font-size-xs);
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;

  .flags-enabled & {
    width: 21px;

    .lang-title {
      display: none;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }

  .ico-popover-toggle {
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 7.2px;

    .flags-enabled & {
      display: none;
    }
  }
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: -12px;
  display: none;
  min-width: 122px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  @include bg($white);
  @include box-shadow(0,0,5px,rgba(0,0,0,.3));

  .no-boxshadow & {
    border: 1px solid $white;
  }

  .editmode & {
    padding-bottom: 0;
  }
  .lang-menu-open & {
    display: block;
  }
}
