.site-header {
  @extend %clearfix;
  padding-bottom: $padding-general - 40px;
  position: relative;

  ul, li {
    list-style: none;
  }

  .search-open & {
    position: static;
  }

  .header-top {
    .wrap {
      .flexbox & {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(flex-end);
      }

      $header-padding: 40px;
      padding-top: $header-padding;
      padding-right: $header-padding;
      padding-left: $header-padding;
    }

    .site-options {
      position: relative;
      vertical-align: middle;
      top: -2px;
    }
  }

  .header-title {
    @include hyphenate(true);
    @include rem-fallback(font-size, $font-size-title);
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
    position: relative;
    min-width: 140px;
  }
  .header-body {
    @include rem-fallback(font-size, $font-size-header);
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
    text-transform: uppercase;

    .content-formatted {
      @include query($mobile-1 - 58) {
        font-size: 24px;
      }
    }

    h1 {
      @extend .header-body;
      margin: 0;
    }

    h2 {
      @include rem-fallback(font-size, $font-size-huge);
      text-transform: initial;
      // line-height: $line-height-small;
    }

    @include query($tablet-2) {
      @include rem-fallback(font-size, $font-size-xl);
    }
  }

  .header-left {
    .flexbox & {
      @include flex(1 0 auto);
    }

    .no-flexbox & {
      float: left;

      @include query($tablet-3) {
        float: none;
      }
    }
  }
  .header-right {
    position: relative;
    text-align: right;

    .no-flexbox & {
      float: right;
    }
  }
  .menu-main,
  .site-options {
    display: inline-block;
  }

  .header-bottom {

    .header-bottom-inner {
      display: table;
      border-collapse: collapse;
      width: 100%;
      max-width: $width-max;
      margin: 0 auto;
      text-align: center;

      .wrap {
        display: table-cell;
        vertical-align: middle;
        padding: 60px 20px;
        .front-page & {
          @include rem-fallback(height, 532px);
        }
        .common-page &.
        .blog-news-page &,
        .blog-article-page & {
          @include rem-fallback(height, 105px);
        }
        &.is-photoheader{
          @include rem-fallback(height, 532px);
        }
      }

      @include query($mobile-1 - 58) {
        .wrap {
          @include rem-fallback(height, 222px);

          .front-page & {
            @include rem-fallback(height, 222px);
          }
          &.is-photoheader{
            @include rem-fallback(height, 222px);
          }
        }
      }
    }
  }

  @include query($tablet-2) {
    .header-left,
    .header-right {
      float: none;

      .no-flexbox & {
        display: table-cell;
        vertical-align: top;
      }
    }

    .header-left {
      @include flex(1);
      margin-right: 40px;
    }

    .header-right {
      display: inline-block;
    }
    .visibility-lrg {
      display: none;
    }
  }

  .header-body {
    .article-author,
    .article-date{
      @include rem-fallback(font-size, $font-size-small);
      font-weight: $font-weight-normal;
      line-height: $line-height-double;
      letter-spacing: 1px;
      display: inline;
    }
    .article-title {
      font-size: $font-size-header + 10px;
      line-height: $line-height-small;
      font-weight: $font-weight-thin;
      margin: 0;
      text-transform: none;

      a {
        @extend .article-title;
        font-size: 1em;
        text-decoration: none;
      }
    }
  }
}
