.site-sidebar {
  float: left;
  width: 210px;
  margin: $margin-half 0 $margin-half $margin-medium;
  position: relative;

  @include query($tablet-2) {
    display: none;
  }
  @include querymin($wide-1) {
    width: 20%;
  }

  .sidebar-title {
    @include rem-fallback(font-size, $font-size-normal);
    font-weight: $font-weight-normal;
    line-height: $line-height-double;
    text-transform: uppercase;
    margin: 0;

    @include query($tablet-2) {
      display: none;
    }

    a {
      @include color($black, 1);
    }

  }

  .submenu {
    padding: 0;

    ul, li {
      list-style: none;
    }

    li {
      @include rem-fallback(font-size, $font-size-normal);
      font-weight: $font-weight-light;
      line-height: $line-height-medium;
      margin: 15px 0;

      @include query($tablet-2) {
        display: inline-block;
        margin-right: $margin-low;
      }
    }
    a {
      @include color($black-lighter, 1);

      &:hover {
        @include color($black, 1);
      }
    }
    .selected {
      font-weight: $font-weight-normal;
      @include color($black, 1);
    }

    .submenu-lvl2 {
      padding-left: 25px;

      @include query($tablet-2) {
        display: none;
      }

      li {
        @include rem-fallback(font-size, $font-size-base);
        line-height: $line-height-medium;
        font-weight: $font-weight-light;
      }
      a {
        @include color($black, 1);

        &:hover {
          font-weight: $font-weight-normal;
        }
      }
      .selected {
        font-weight: $font-weight-normal;
      }
    }

  }

}
