.site-search {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  .search-input {
    @extend %input-ios-reset;
    @extend %inherit-base-font;
    width: 128px;
    padding: 4px 5px 3px;
    font-size: $font-size-small;
    border-width: 1px;
    border-style: solid;
    border-color: rgba($black, .53);
    border-radius: 3px;
  }

  .search-submit {
    position: relative;
    top: -1px;
  }
}

/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search,
.search-form {
  @extend %clearfix;
}

.search {
  display: none;
  position: absolute;
  width: 310px;
  height: 50px;
  line-height: 1;

  #mobile-search & {
    width: 100%;
    max-width: 100%;
    right: 0;
    top: 0;
    padding-top: 20px;

    .search-form {
      max-width: 100%;
    }
    .search-inner {
      max-width: 100%;
      margin: 0 $margin-low - 10px;
    }
  }

  &.active {
    position: absolute;
    margin-top: 10px;
    right: -10px;
    z-index: 20;
    display: block;

    #mobile-search & {
      margin-top: 0;
    }
  }
}

.search-middle {
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}

.search-inner {
  position: relative;
  max-width: 400px;
  @include box-shadow(0, 2px, 4px, 0, rgba($black-base, .1));

  #mobile-search & {
    box-shadow: none;
  }

  // .search-close-btn {
  //   display: none;

  //   &.active {
  //     display: block;
  //     position: absolute;
  //     top: 12px;
  //     right: 10px;
  //     z-index: 20;
  //     margin-right: 0;

  //     .mobile-search-open & {
  //       top: 15px;
  //       right: 0;
  //       z-index: 9999;
  //     }
  //   }
  // }
}

.search-form {
  position: relative;
  z-index: 20;
  @include bg($white, 1);
  @include box-shadow(0, 2px, 4px, 0, rgba($black-base, .1));

  #mobile-search & {
    box-shadow: none;
    background-color: transparent;
  }

  &,
  &.selected {
    max-width: 400px;
    margin: 0 auto;
    border: none;

  }
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 15px;
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 20px;
  @include color($black, 1);
  background: none;
  box-sizing: border-box;
  border: none;

  #mobile-search & {
    border-bottom: 1px solid $black-base;
  }

  .mobile-search-open & {
    padding: 0 30px;
  }

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    padding: 2px 0 4px 0;
    line-height: 1;
    @include color($black, .5);
  }

  &:focus {
    outline: none;
  }
}

.search-btn,
.search-submit {
  @extend %button;
  vertical-align: top;
  width: 30px;
  height: 50px;
  background-color: transparent;

  .no-svg & {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/ico-search-white.png');
  }

  .light-background & {
    .no-svg & {
      background-image: url('../images/ico-search-black.png');
    }
  }
}

.search-submit {
  @include opacity(0.5);
  position: absolute;
  top: 0;
  right: 25px;
  padding-top: 2px;
  width: 41px;
  background-size: 32px;
  background-color: transparent;

  &:hover {
    @include opacity(1);
  }
}

.search-btn {
  position: relative;
  top: 1px;
  z-index: 19;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  font-size: 0;
  margin-left: 25px;

  .header-options & {
    .front-page & {
      top: 1px;
    }

    .content-page & {
      top: 4px;
    }
  }

  svg {
    .header-options & {
      @include fill($black, .67);

      .front-page & {
        @include fill($white, 1);
      }
    }

    .light-background & {
      .front-page & {
        @include fill($black, 1);
      }
    }
  }

  &:hover {
    svg {
      @include fill($black, .47);
    }
  }

  &:focus {
    outline: none;
  }

  @include query($mobile-1) {
    .content-page .header-options & {
      margin-right: 35px;
    }
  }
}

.voog-search-modal {
  display: none;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  max-width: 400px;
  max-height: 100vw;
  margin: 0 auto;
  @include bg($white, 1);
  @include no-box-shadow;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;

  #mobile-search & {
    max-width: 100%;
  }

  &.no-content {
    padding: 20px;
    @include color($grey, 1);
  }

  &.search-results-active {
    display: block;
  }
}

.voog-search-modal-results {
  @include querymin($tablet-2) {
    max-height: 70vh;
  }

  .mobile-search-open & {

    @include querymin($tablet-2) {
      max-height: calc(100vh - 120px);
    }

  }

  h3 {
    margin: 0;
    @include rem-fallback(font-size, $font-size-base);
    @include color($black, 1);
    font-weight: $font-weight-normal;
    line-height: 1.3;

    a {
      text-decoration: none;
      @include color($black, 1);

      &:hover {
        @include color($black, .8);
      }
    }
  }

  p {
    margin: 5px 0 0;
    @include rem-fallback(font-size, $font-size-small);
    line-height: 24px;
    @include color($black-light);
  }

  em {
    font-style: normal;
    @include bg($yellow, .5);
    border-radius: 2px;
    padding: 0 2px;
  }
}

.voog-search-modal-result {
  padding: 15px;
  border-top: $white-cloudy solid 1px;

  &:first-of-type {
    border-top: 1px solid transparent;
  }
}

#mobile-search {
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .mobilesearch-open & {
    display: block;
  }
  .search {
    padding: 0;
    top: 20px;
  }

  .voog-search-modal {
    position: fixed;
    top: 70px;
    bottom: 0;
    max-height: initial;
    left: 0;
    right: 0;
  }
}
