.site-footer {
  position: relative;
  font-size: 14px;
  color: $grey;
  min-height: 100px;


  .footer-body {
    padding: $general-padding / 2 5px;
  }

  .wrap {
    text-align: center;
  }

  .voog-reference {
    color: rgba($black, 1);
    opacity: .55;
    text-align: center;
    padding: 0 0 15px;

    &:hover {
      opacity: .8;
    }
  }
}
