.site-sidebar {
  float: left;
  width: 200px;
  padding: 45px 30px 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 5;

  @include query($tablet-2) {
    float: none;
  }
  @include querymin($wide-1) {
    width: 20%;
  }

  .sidebar-title a {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    line-height: $line-height-medium;
    @include color($black, 1);
    text-transform: uppercase;
  }
  .submenu {
    padding: 0;

    ul, li {
      list-style: none;
    }

    li {
      font-size: 18px;
      line-height: 25px;
      margin: 15px 0;
      a {
        @include color($black-light, 1);
        font-weight: 300;
      }
      .active {
        @include color($black, 1);
        font-weight: 400;
      }
    }

    ul {
      padding-left: 20px;
      li {
        font-size: 16px;
        line-height: 19px;
      }

      a {
        @include color($black, 1);
      }
    }
  }

}
