/*
Error: Undefined mixin 'hyphenate'.
        on line 696 of sources/components/custom-styles/template-cs-style-rules.scss, in `hyphenate'
        from line 696 of sources/components/custom-styles/template-cs-style-rules.scss

691: // Styling rules for the site's editable content areas.
692: // NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-area" class.
693: // NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
694: .content-area {
695:   @extend %clearfix;
696:   @include hyphenate(true);
697:   color: rgba($black, .7);
698:   font-size: 18px;
699:   line-height: 1.7;
700: 
701:   .dark-background & {

Backtrace:
sources/components/custom-styles/template-cs-style-rules.scss:696:in `hyphenate'
sources/components/custom-styles/template-cs-style-rules.scss:696
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:98:in `with_mixin'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:20:in `render'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:423:in `run'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/Kaspar/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/Users/Kaspar/.rbenv/versions/2.2.3/bin/sass:22:in `load'
/Users/Kaspar/.rbenv/versions/2.2.3/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'hyphenate'.\A         on line 696 of sources/components/custom-styles/template-cs-style-rules.scss, in `hyphenate'\A         from line 696 of sources/components/custom-styles/template-cs-style-rules.scss\A \A 691: // Styling rules for the site's editable content areas.\A 692: // NB! Each editable content-area - {% content %} - should be wrapped in the -moz-element that has the \"content-area\" class.\A 693: // NB! Contact forms, image galleries and tables styling rules are located in the separate partials: \"_forms.scss\", \"_gallery.scss\" and \"_tables.scss\".\A 694: .content-area {\A 695:   @extend %clearfix;\A 696:   @include hyphenate(true);\A 697:   color: rgba($black, .7);\A 698:   font-size: 18px;\A 699:   line-height: 1.7;\A 700: \A 701:   .dark-background & {";
  content: "Error: Undefined mixin 'hyphenate'.\A         on line 696 of sources/components/custom-styles/template-cs-style-rules.scss, in `hyphenate'\A         from line 696 of sources/components/custom-styles/template-cs-style-rules.scss\A \A 691: // Styling rules for the site's editable content areas.\A 692: // NB! Each editable content-area - {% content %} - should be wrapped in the element that has the \"content-area\" class.\A 693: // NB! Contact forms, image galleries and tables styling rules are located in the separate partials: \"_forms.scss\", \"_gallery.scss\" and \"_tables.scss\".\A 694: .content-area {\A 695:   @extend %clearfix;\A 696:   @include hyphenate(true);\A 697:   color: rgba($black, .7);\A 698:   font-size: 18px;\A 699:   line-height: 1.7;\A 700: \A 701:   .dark-background & {"; }
