// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Basic colors.
$black-base: #000;
$black: rgba($black-base, .87);
$black-lighter: #a4a3a3;
$grey: #aaaaaa;
$grey-2: #e6e6e6;
$white: #ffffff;
$white-cloudy: #dedede;
$blue: #0066BB;
$yellow: #F9EC5A;
$red: #c70909;

// Specific colors.
$error-color: #ff0000;
$success-color: #0ecb00;

// Font family.
$font-main: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Media query breakpoints.
$wide-1: 1500px;
$tablet-1: 1024px;
$tablet-2: 850px;
$tablet-3: 640px;
$mobile-1: 480px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that always have to be with the same height.
$height-base: 100px;

$padding-medium: 40px;
$padding-general: 70px;

$margin-base: 10px;
$margin-low: 20px;
$margin-medium: 30px;
$margin-large: 40px;
$margin-half: 50px;
$margin-general: 100px;

$button-square: 42px;

$width-medium: 760px;
$width-max: 1040px;

$transition: 500ms;
