.edy-ecommerce-shopping-cart-button {
  .public & {
    z-index: 1;
    display: inline-block;
    padding: 13px 30px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: normal;
    color: rgba($black, .7);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    transition: transform .5s;
  }

  .dark-background & {
    @media screen and (max-width: $tablet-3) {
      color: rgba($grey, 1);
      border: 2px solid rgba($grey, 1);
    }

    @media screen and (min-width: $tablet-3 + 1) {
      color: rgba($white, 1);
      border: 2px solid rgba($white, 1);
    }
  }

  .light-background & {
    color: rgba($grey, 1);
    border: 2px solid rgba($grey, 1);
  }

  &:hover {
    @include transition($transition);

    .dark-background & {
      @media screen and (max-width: $tablet-3) {
        color: rgba($white, 1);
        background-color: rgba($grey, 1);
        border: 2px solid rgba($grey, 1);
      }

      @media screen and (min-width: $tablet-3 + 1) {
        color: rgba($black, .7);
        background-color: rgba($white, 1);
        border: 2px solid rgba($white, 1);
      }
    }

    .light-background & {
      color: rgba($white, 1);
      background-color: rgba($grey, 1);
      border: 2px solid rgba($grey, 1);
    }
  }

  .edy-ecommerce-shopping-cart-button-flash {
    .public & {
      font-size: 13px;

      @media screen and (max-width: $tablet-3) {
        padding: 9px 20px 7px;
        line-height: 1.7;
      }

      @media screen and (min-width: $tablet-3 + 1) {
        padding: 13px 30px 12px;
        line-height: 2;
      }
    }
  }
}

.edy-ecommerce-shopping-cart-button-in-place {
  .public & {
    @media screen and (max-width: $tablet-3) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      padding: 9px 20px 7px;
      font-size: 13px;
      color: rgba($white, 1);
      background-color: rgba($grey, 1);
      border: 0;

      &:hover {
        opacity: .8;
        border: 0;
      }
    }
  }
}
