.kh-cart-btn-container {
  // @media screen and (min-width: $tablet-3 + 1) {
  //   padding-right: 40px;
  //   padding-left: 40px;
  //   text-align: right;
  // }
}

.edy-ecommerce-shopping-cart-button {
  .public & {
    z-index: 1;
    display: inline-block;
    padding: 13px 30px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: normal;
    color: rgba($black, .7);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    transition: transform .5s;

    &.-static {
      @media screen and (max-width: $tablet-3) {
        position: absolute;
        top: -38px;
        right: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .dark-background & {
    @media screen and (max-width: $tablet-3) {
      color: rgba($grey, 1);
      border: 2px solid rgba($grey, 1);
    }

    @media screen and (min-width: $tablet-3 + 1) {
      color: rgba($white, 1);
      border: 2px solid rgba($white, 1);
    }
  }

  .light-background & {
    color: rgba($grey, 1);
    border: 2px solid rgba($grey, 1);
  }

  &:hover {
    @include transition($transition);

    .dark-background & {
      @media screen and (max-width: $tablet-3) {
        color: rgba($white, 1);
        background-color: rgba($grey, 1);
        border: 2px solid rgba($grey, 1);
      }

      @media screen and (min-width: $tablet-3 + 1) {
        color: rgba($black, .7);
        background-color: rgba($white, 1);
        border: 2px solid rgba($white, 1);
      }
    }

    .light-background & {
      color: rgba($white, 1);
      background-color: rgba($grey, 1);
      border: 2px solid rgba($grey, 1);
    }
  }

  .edy-ecommerce-shopping-cart-button-flash {
    .public & {
      padding: 13px 30px 12px;
      font-size: 13px;
      line-height: 2;
    }
  }
}
