// =============================================================================
// Content area buy button
// =============================================================================
// This can't be written in BEM.
.content-area {
  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .form_field_select {
      width: initial;
    }
    // sass-lint:enable class-name-format
  }
}
