.content-area {

  form,
  .form {
    @include rem-fallback(font-size, $font-size-small);
  }

  .form_field {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    label,
    .form_field_label {
      position: relative;
      display: block;
      @include rem-fallback(font-size, $font-size-small);
    }

    .form_field_label {
      font-weight: $font-weight-bold;
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: '* \a';
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    max-width: 100%;
    box-sizing: border-box;
  }

  .form_field_textfield,
  .form_field_textarea {
    @extend %input-ios-reset;
    @extend %inherit-base-font;
    padding: 10px 13px;
    @include rem-fallback(font-size, $font-size-base);
    font-weight: $font-weight-light;
    line-height: $font-size-large;
    @include color($black-base, .71);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $white-cloudy;
    vertical-align: bottom;
    outline: none;

    &.form_field_size_small {
      width: 280px;
    }

    &.form_field_size_medium {
      width: 420px;
    }

    &.form_field_size_large {
      width: 580px;
    }

    @include placeholder {
      @include color($black-lighter, 1);
    }
  }

  .form_field_select {
    &.form_field_size_small {
      min-width: auto;
    }

    &.form_field_size_medium {
      min-width: 124px;
    }

    &.form_field_size_large {
      min-width: 184px;
    }
  }

  .form_field_radio,
  .form_field_checkbox {
    .svg & {
      visibility: hidden;

      + .form_control_indicator {
        @include size(18px);
        position: absolute;
        border-style: solid;
        border-width: 1px;
        border-color: rgba($black-base, .2);
      }
    }
  }


  .form_field_radio {
    .svg & {
      + .form_control_indicator {
        top: 2px;
        left: -2px;
        border-radius: 100%;

        &:before {
          @include size(12px);
          @include bg($black-base, .4);
          @include transform(scale(0));
          @include transition(transform .15s ease);
          position: absolute;
          top: 3px;
          left: 3px;
          content: "";
          border-radius: 100%;
        }
      }

      &:checked {
        + .form_control_indicator {
          &:before {
            @include transform(scale(1));
            @include transition(transform .15s ease);
          }
        }
      }
    }
  }

  .form_field_checkbox {
    .svg & {
      + .form_control_indicator {
        top: 0;
        left: 0;
        border-radius: 3px;

        &:before {
          @include transform(scale(0) rotate(45deg));
          width: 5px;
          height: 10px;
          border-width: 0px 2px 2px 0px;
          border-style: none solid solid none;
          border-color: rgba($black-base, .4);
          content: "";
          display: block;
          margin: 3px 0px 0px 6px;
          transition: transform 0.15s ease 0s;
        }
      }

      &:checked {
        + .form_control_indicator {
          &:before {
            @include transform(scale(1) rotate(45deg));
            @include transition(transform .15s ease);
          }
        }
      }
    }
  }

  .form_submit {
    margin-top: 10px;

    input {
      @include inputiosreset;
      @include bg($black, 1);
      @include color($white, 1);
      border: none;
      padding: 10px;
      min-width: 200px;
      text-transform: uppercase;
      font-family: $font-main;
      @include rem-fallback(font-size, $font-size-small);
      font-weight: $font-weight-normal;
      line-height: $line-height-double;
      cursor: pointer;

      .dark-background & {
        @include bg($white, 1);
        @include color($black, 1);
      }

      @include querymin($tablet-2) {
        .content-half & {
          width: 100%;
        }
      }

      @include query($mobile-1) {
        .content-half & {
          width: 100%;
        }
      }

      &:hover {
        @include bg($black-base, .71);
        @include transition($transition);

        .dark-background & {
          @include bg($white-cloudy, 1);
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
  .article-comments {
    .form_submit {
      input {
        width: 100%;
      }
    }
  }

  .form_error,
  .form_field_error {
    color: rgba($error-color, 1);
  }

  .form_error {
    @include rem-fallback(font-size, $font-size-normal);
    font-weight: $font-weight-light;
    @include color($error-color, 1);
    margin-bottom: $margin-low;
  }

  .form_field_error {
    @include rem-fallback(font-size, $font-size-small);
  }

  .form_notice {
    @include rem-fallback(font-size, $font-size-large);
    font-weight: $font-weight-light;
    @include color($black-base, .71);
    margin-bottom: $margin-low;

    .dark-background & {
      @include color($white, 1);
    }
  }

}
