.content-area {

  form,
  .form {
    @include rem-fallback(font-size, $font-size-small);
  }

  .form_field {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    label,
    .form_field_label {
      display: block;
      @include rem-fallback(font-size, $font-size-small);
    }

    .form_field_label {
      font-weight: $font-weight-bold;
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: '* \a';
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    max-width: 100%;
    box-sizing: border-box;
  }

  .form_field_textfield,
  .form_field_textarea {
    @extend %input-ios-reset;
    @extend %inherit-base-font;
    padding: 7px;
    @include rem-fallback(font-size, $font-size-small);
    font-weight: $font-weight-light;
    line-height: $font-size-large;
    @include color($black-lighter, 1);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $white-cloudy;
    vertical-align: bottom;
    outline: none;

    &.form_field_size_small {
      width: 280px;
    }

    &.form_field_size_medium {
      width: 420px;
    }

    &.form_field_size_large {
      width: 580px;
    }
  }

  .form_field_select {
    &.form_field_size_small {
      min-width: auto;
    }

    &.form_field_size_medium {
      min-width: 124px;
    }

    &.form_field_size_large {
      min-width: 184px;
    }
  }

  .form_submit {
    margin-top: 10px;

    input {
      @include inputiosreset;
      @include bg($black, 1);
      @include color($white, 1);
      border: none;
      padding: 10px;
      min-width: 200px;
      text-transform: uppercase;
      font-family: $font-main;
      @include rem-fallback(font-size, $font-size-small);
      font-weight: $font-weight-normal;
      line-height: $line-height-double;
      cursor: pointer;

      .dark-background & {
        @include bg($white, 1);
        @include color($black, 1);
      }

      @include querymin($tablet-2) {
        .content-half & {
          width: 100%;
        }
      }

      @include query($mobile-1) {
        .content-half & {
          width: 100%;
        }
      }

      &:hover {
        @include bg($black-light, 1);
        @include transition($transition);

        .dark-background & {
          @include bg($white-cloudy, 1);
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
  .article-comments {
    .form_submit {
      input {
        width: 100%;
      }
    }
  }

  .form_error,
  .form_field_error {
    color: rgba($error-color, 1);
  }

  .form_error {
    @include rem-fallback(font-size, $font-size-normal);
    font-weight: $font-weight-light;
    @include color($error-color, 1);
    margin-bottom: $margin-low;
  }

  .form_field_error {
    @include rem-fallback(font-size, $font-size-small);
  }

  .form_notice {
    @include rem-fallback(font-size, $font-size-large);
    font-weight: $font-weight-light;
    @include color($black-light, 1);
    margin-bottom: $margin-low;

    .dark-background & {
      @include color($white, 1);
    }
  }

}
