.content-area {
  @extend %clearfix;
  @extend %hyphens-true;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-positionable-container-center-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    color: rgba($highlight-color, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $base-line-height;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  a {
    &:hover {
      opacity: .8;
    }
  }

  pre,
  code,
  iframe,
  table,
  form {
    // @extend %hyphens-false;
  }

  pre,
  code {
    padding: 10px;
    font-size: 14px;
    line-height: $secondary-line-height;
    font-weight: 400;
    background-color: rgba($black, .02);
  }

  pre {
    overflow: auto;

    code {
      display: inline;
      padding: 0;
      white-space: pre;
      line-height: inherit;
      background-color: transparent;
    }
  }

  code {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  $floating-image-margin: 10px;

  .edy-positionable-container-left {
    margin-right: $floating-image-margin;
  }

  .edy-positionable-container-right {
    margin-left: $floating-image-margin;
  }

  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 2px;
      font-size: 12px;
      line-height: $secondary-line-height;
      content: attr(data-title);
    }
  }
}

.dark-background {
  color: $white;
  & h1, h2, h3, h4, p, pre {
    color: $white;
  }

  .footer-row & {
    color: rgba(255, 255, 255, 0.6);
    a, b {
      color: $white;
    }
  }
  .menu li a {
    color: rgba(255, 255, 255, 0.5);
  }
}

.light-background {
  color: rgba(0, 0, 0, 0.5);
  & h1, h2, h3, h4, p {
    color: rgba(0, 0, 0, 0.5);
  }
  .footer-row & {
      a {
        color: $black;
      }
      b {
        color: rgba(0, 0, 0, 0.5);
      }
  }

  .footer-row & {
    color: rgba(0, 0, 0, 0.6);
  }
  .menu li a {
    color: rgba(0, 0, 0, 0.5);
  }
}
.site-header h1 {
  font-size: 70px;
}

.site-header, .site-header .header-title {
  font-weight: 300;
}

.menu li:hover a {
  color: rgba(0, 0, 0, 0.8);
}
.menu li.is-active a {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.55);
}
