.blog-news-page {

  .article-title {
    font-size: $font-size-xl;
    font-weight: $font-weight-light;
    line-height: $line-height-medium;
    margin: 10px 0 0;

    @include query($tablet-2) {
      font-size: $font-size-large;
    }

    a {
      @include color($black, 1);
    }

  }

  .blog-article {
    position: relative;
    padding: $padding-medium 0;

    .article-image {
      position: relative;
      height: 500px;

      @include query($tablet-2) {
        margin: 0  0 - $margin-low;
        height: 250px;
      }
    }
  }

  .article-author,
  .article-date {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-normal;
    @include color($black-lighter, 1);
    text-transform: uppercase;
    letter-spacing: 1px;

    @include query($tablet-2) {
      font-size: $font-size-small - 2px;
    }
  }

  .article-author {
    display: inline-block;
  }

  .article-excerpt {
    font-size: rem-calc($font-size-normal);

    font-weight: $font-weight-light;
    line-height: $line-height-medium;
    @include color($black-light, 1);
  }

  .article-header {
    margin: 0 $margin-general $margin-low;
  }

  .article-content {
    margin: 0 $margin-general;
  }

  @include query($tablet-3) {
    .article-header, .article-content {
      margin: 0;
    }
  }

  .articles-listing {
    margin: 0 $margin-general;

    .articles-listing-header {
      margin: 0 0 $margin-medium;
    }
    .articles-listing-title {
      text-transform: uppercase;
    }

    .blog-article {
      padding: 0;

      .article-header {
        margin: 0 0 $margin-medium;
      }

      .article-date {
        font-size: $font-size-small - 2px;
        font-weight: $font-weight-normal;
        line-height: $line-height-medium;
        @include color($black-lighter, 1);
        letter-spacing: 1px;
        position: absolute;
        top: 4px;
      }
      .article-title {
        font-size: $font-size-normal;
        font-weight: $font-weight-light;
        line-height: $line-height-medium;
        margin-left: 150px;
      }

    }

    @include query($mobile-1) {
      margin: 0;
      .blog-article {

        .article-date {
          position: static;
        }
        .article-title {
          margin: 0;
        }
      }
    }

  }
}
