.blog-news-page {
  .main-content {
    .wrap {
      max-width: 780px;
    }
  }
  .article-title {
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0 0;
    @media screen and (max-width: $tablet-2) {
      font-size: 26px;
    }
    a {
      color: rgba($black, 1);
      text-decoration: none;
    }
  }
  .article-content {
    margin-top: 20px;
  }
  .blog-article {
    @include hyphens(auto);
    position: relative;
    padding-top: 50px;
    &:first-child {
      padding-top: 0;
    }
    .article-image {
      position: relative;
      z-index: 1;
      margin-top: 25px;
      &:before {
        display: block;
        width: 100%;
        padding-top: 65.715%;
        content: '';
      }
    }
  }
  .article-author,
  .article-date {
    font-size: 14px;
    color: rgba($black-base, .36);
    font-weight: 300;
    line-height: 1;
    display: inline;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .article-excerpt {
    color: rgba($black-base, .71);
    font-size: rem-calc(18px);
    font-weight: 300;
    line-height: 1.7;
  }
  @media screen and (max-width: $tablet-3) {
    .article-header {
      margin: 0;
    }
  }
  .articles-listing {
    @extend %clearfix;
    max-width: 695px;
    margin: 0 auto;
    .articles-listing-header {
      margin: 62px 0 $margin-medium;
    }
    .articles-listing-title {
      font-size: 22px;
      text-transform: uppercase;
    }
    .blog-article {
      padding: 0;
      .article-header {
        margin: 0 0 $margin-low;
      }
      .article-date {
        font-size: 12px;
        font-size: 12px;
        color: rgba($black-base, .36);
        font-weight: 300;
        line-height: 1.7;
        position: absolute;
        top: 4px;
        letter-spacing: 1px;
      }
      .article-title {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;
        margin-left: 170px;
      }
    }
    @media screen and (max-width: $mobile-1) {
      margin: 0;
      .blog-article {
        .article-date {
          position: static;
        }
        .article-title {
          margin: 0;
        }
      }
    }
  }
}
