.common-page {

  .inner {
    max-width: $width-medium;
  }

  .sidebar-active {
    @extend %clearfix:after;
    max-width: $width-max;
    width: 100%;
    margin: 0 auto;

    .inner {
      width: auto;
      margin: 0;
    }
    .page-content {
      margin-left: 200px;
    }

    @include query($tablet-2) {
      .page-content {
        margin-left: 0;
      }
    }
  }

}
