.common-page {

  .content-body {
    margin: $margin-half 0;
  }

  .inner {
    max-width: 700px;
  }

  .sidebar-active {
    @extend %clearfix:after;
    width: 80%;
    margin: 0 auto;

    .inner {
      width: auto;
      margin: 0;
    }
    .page-content {
      margin-left: 200px;
    }

    @include query($tablet-2) {
      .page-content {
        margin-left: 0;
      }
    }
  }

}
