%large-text {
  font-size: 50px;
  font-weight: 700;
  line-height: $line-height-normal;
}

%medium-text {
  font-size: 25px;
  font-weight: 400;
  line-height: $line-height-normal;
}

%normal-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

.front-page {
  .page-content {

    .content-header {
      @extend %large-text;
      margin-bottom: 10px;
    }

    .content-slogan {
      @extend %medium-text;
      margin-bottom: 80px;
    }

    .content-area {
      @extend %normal-text;
    }
  }

  .main-content {
    .content-area {
      @include rem-fallback(font-size, $font-size-huge);
      font-weight: $font-weight-light;
      line-height: $line-height-medium;
      text-align: center;
    }
  }

  .main-feature {
    .wrap {
      font-size: 0;


      @media screen and (min-width: $tablet-3 + 1) {
        .flexbox & {
          @include display(flex);
          @include flex-wrap(wrap);
          @include justify-content(center);
        }
      }
    }

    .feature {
      @media screen and (min-width: $tablet-3 + 1) {
        max-width: 373px;
      }

      &:nth-child(3n+1),
      &:nth-child(3n+2) {
        .aspect-ratio-inner:not(.active) {
          border-left-style: dashed;
        }
      }

      &:nth-child(3n+2),
      &:nth-child(3n+3) {
        .aspect-ratio-inner:not(.active) {
          border-right-style: dashed;
        }
      }

      &:empty {
        display: none;
      }

      .flexbox & {
        @include flex(1);
      }
    }

    .feature-image {
      @include aspect-ratio(266, 177);
    }

    .aspect-ratio-inner {
      border-width: 1px;
      border-color: rgba(27,33,36,.33);
      background-size: cover;
      background-position: center;

      &:not(.active) {
        border-top-style: dashed;
        border-bottom-style: dashed;

        @media screen and (max-width: $tablet-3) {        
          border-right-style: dashed;
          border-left-style: dashed;
        }
      }


      .editmode & {
        @include display(flex !important);
        @include align-items(center);
        @include justify-content(center);
      }
    }

    .edy-img-drop-area {
      .edy-img-drop-area-remove-image {
        top: 5px;
        right: 5px;
      }
    }

    .edy-img-drop-area-placeholder {
      font-size: $font-size-small;
    }

    .feature-content {
      margin: 40px 30px;
      font-size: $font-size-normal;
      text-align: center;

      &:empty {
        display: none;
      }
    }
  }

  .blog-feed {
    padding: $padding-general 0;

    .content-area {
      @include rem-fallback(font-size, $font-size-huge);
      font-weight: $font-weight-light;
      line-height: $line-height-medium;
      text-align: center;
    }

    .wrap {
      height: 500px;
      display: table;

      .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
      }
    }

    h1 {
      @include rem-fallback(font-size, $font-size-small);
      line-height: $line-height-normal;
      text-transform: uppercase;
    }

    h2 {
      line-height: $line-height-normal;
    }

    .inner {
      text-align: center;
    }
  }

  .content-full {
    position: relative;
  }
}
